{{- if or .IsHome (eq .Section "resources") -}}
{{- if .IsHome -}}
<script>document.documentElement.classList.add("home-anim-pending");</script>
{{- end -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;1,6..72,400&display=swap">
{{- if .IsHome -}}
{{- with resources.Get "css/homepage.css" -}}
{{- $style := . | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{- end -}}
{{- else -}}
{{- with resources.Get "css/resources.css" -}}
{{- $style := . | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{- end -}}
{{- end -}}
{{- end -}}