{{- if .IsHome -}}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" crossorigin="anonymous"></script>
{{- with resources.Get "js/homepage-gsap.js" -}}
{{- $script := . | minify | fingerprint -}}
<script defer src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- end -}}
{{- with resources.Get "js/neuron-bg.js" -}}
{{- $script := . | minify | fingerprint -}}
<script defer src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- end -}}
{{- end -}}