---
permalink: /
title: "Welcome to the private world of Wild Horse!"
author_profile: true
redirect_from:
- /about/
- /about.html
---

I'm a student of class of 2023 from [School of Physics and Astronomy](https://spa.sysu.edu.cn/), [Sun Yat-sen University](https://www.sysu.edu.cn/), and right now I am an intern of [Ni Ji's Lab](https://aemc2.github.io/JiLab.github.io/people/) in [CIBR](https://www.cibr.ac.cn/science?type=blank&language=cn).



My research interest includes

- Computational modeling of brain-like strucral systems

- Brain-Inspired Artificial Intelligence







This personal homepage is an extension of my WeChat public account, which essentially does two things:

- Write stories about people I care about.

- Focus on algorithms, GPA, and research.



I do these things not for any particular purpose, but simply because I want to. I hope that what I care about can be of interest to others, that my reflections can provoke thought in others, and that what I learn can benefit everyone.





In addition, if you wish to collaborate with me or have any suggestions for improvement, please feel free to contact me directly!Just send E-mail to `j3540493668@outlook.com`.



### Education Background

- 2023.09 - 2027.06, [School of Physics and Astronomy](https://spa.sysu.edu.cn/), [Sun Yat-sen University](https://www.sysu.edu.cn/), Bachelor.

- 2025.07 - Now, [Ni Ji's Lab](https://aemc2.github.io/JiLab.github.io/people/), [Chinese Insitute for Brain Research, Beijing(CIBR)](https://www.cibr.ac.cn/science?type=blank&language=cn), Intern.



### Publications

- Zixing Jia, Jiawei Li, Xin Li，Ziping Chen, 2026, [Multimodal Fusion Network for Micro-displacement Measurement via Michelson Interferometer](https://arxiv.org/abs/2511.12192), *Optics and Laser Technology*.



### Honors

Well, they do not matters.
